<h1>Fish Homepage</h1>

<% @fish.each do |fish| %>
<ul>
  <li><a href="/<%=fish[:name]%>"><%=fish[:name]%></a></li>
</ul>
<%end%>

<form action="/" method="post">
  <input type="text" placeholder="New Fish" name="new_fish"/>
  <input type="submit" value="Add">
</form>